elasticsearch~=8.17.2
dotenv~=0.9.9
python-dotenv~=1.1.0
fastapi~=0.115.12
pydantic-settings~=2.8.1
pandas~=2.2.3
sqlmodel~=0.0.24
sqlalchemy~=2.0.40
torch~=2.6.0
transformers~=4.50.3
mlflow~=2.21.2
mlflow-skinny~=2.21.2